<section class="projects" id="projects">
	<div class="page-container projects__container">
		<h2 class="projects__title section-title">Проекты</h2>
		<p class="projects__descr">Предварительные выводы: постоянное информационно&#8209;пропагандистское обеспечение нашей деятельности однозначно фиксирует необходимость своевременного выполнения сверхзадачи. А ещё независимые государства смешаны с не уникальными данными до степени совершенной неузнаваемости, из-за чего возрастает их статус бесполезности. Прежде всего, постоянное информационно&#8209;пропагандистское
			<button aria-label="Подсказка" class="projects__tooltip" id="tooltip-1"></button>
		                           обеспечение нашей деятельности однозначно фиксирует необходимость экономической целесообразности принимаемых решений. И нет сомнений, что действия представителей оппозиции могут быть рассмотрены
			<button aria-label="Подсказка" class="projects__tooltip" id="tooltip-2"></button>
		                           исключительно в разрезе маркетинговых и финансовых
			<button aria-label="Подсказка" class="projects__tooltip" id="tooltip-3"></button>
		                           предпосылок. Банальные, но неопровержимые выводы, а также представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть смешаны с не уникальными данными до степени совершенной неузнаваемости. Подробнее:
			<a class="projects__link-more" href="">blanchard-art.ru/projects/about</a></p>
		<h3 class="projects__subtitle section-subtitle">Партнёры проектов:</h3>

		<button aria-hidden="true" class="projects__btn-prev swiper-button-prev">
			<svg fill="none" height="12" viewBox="0 0 11 12" width="11" xmlns="http://www.w3.org/2000/svg">
				<path d="M6 11L0.999995 6L6 0.999998" stroke="#333" />
			</svg>
		</button>
		<button aria-hidden="true" class="projects__btn-next swiper-button-next">
			<svg fill="none" height="12" viewBox="0 0 11 12" width="11" xmlns="http://www.w3.org/2000/svg">
				<path d="M5 11L10 6L5 0.999998" stroke="#333" />
			</svg>
		</button>
		<div class="projects__swiper swiper-container">
			<ul class="projects__partner-list swiper-wrapper">
				<li class="projects__partners-item swiper-slide"><a aria-label="Компания партнёр-1" class="partner partner-1" href=""></a></li>
				<li class="projects__partners-item swiper-slide"><a aria-label="Компания партнёр-2" class="partner partner-2" href=""></a></li>
				<li class="projects__partners-item swiper-slide"><a aria-label="Компания партнёр-3" class="partner partner-3" href=""></a></li>
				<li class="projects__partners-item swiper-slide"><a aria-label="Компания партнёр-4" class="partner partner-4" href=""></a></li>
				<li class="projects__partners-item swiper-slide"><a aria-label="Компания партнёр-5" class="partner partner-5" href=""></a></li>
				<li class="projects__partners-item swiper-slide"><a aria-label="Компания партнёр-6" class="partner partner-6" href=""></a></li>
				<li class="projects__partners-item swiper-slide"><a aria-label="Компания партнёр-7" class="partner partner-7" href=""></a></li>
				<li class="projects__partners-item swiper-slide"><a aria-label="Компания партнёр-8" class="partner partner-8" href=""></a></li>
				<li class="projects__partners-item swiper-slide"><a aria-label="Компания партнёр-9" class="partner partner-9" href=""></a></li>
			</ul>

		</div>
	</div>
</section>
