<section class="catalog" id="catalog">
  <div class="page-container catalog__container">
    <h2 class="catalog__title section-title">Каталог</h2>
    <nav class="catalog__nav catalog-nav">
      <ul class="catalog-nav__list" title="Выбрать страну">
        <li class="catalog-nav__item">
          <button class="catalog-nav__btn" data-country="fra"><img alt="Франция" class="catalog-nav__icon"
                                                                   src="img/cat-fra.png"></button>
        </li>
        <li class="catalog-nav__item">
          <button class="catalog-nav__btn " data-country="ger"><img alt="Германия" class="catalog-nav__icon"
                                                                    src="img/cat-ger.png"></button>
        </li>
        <li class="catalog-nav__item">
          <button class="catalog-nav__btn catalog-nav__btn--active" data-country="ita"><img alt="Италия"
                                                                                            class="catalog-nav__icon"
                                                                                            src="img/cat-ita.png">
          </button>
        </li>
        <li class="catalog-nav__item">
          <button class="catalog-nav__btn" data-country="rus"><img alt="Россия" class="catalog-nav__icon"
                                                                   src="img/cat-rus.png"></button>
        </li>
        <li class="catalog-nav__item">
          <button class="catalog-nav__btn" data-country="bel"><img alt="Бельгия" class="catalog-nav__icon"
                                                                   src="img/cat-bel.png"></button>
        </li>
      </ul>
    </nav>
    <section class="catalog__tab catalog-tab">
      <p class="catalog-tab__descr"></p>
      <div class="catalog-tab__choice artist-choice">
        <ul class="artist-choice__period-list accordion-container" title="Выбор периода жизни художников">
          <li class="artist-choice__period-item period-item ac">
            <h3 class="artist-choice__period ac-header">
              <button class="artist-choice__btn ac-trigger"><span>С 1400 по 1499 гг.</span>
                <svg fill="none" height="18" viewBox="0 0 18 18" width="18"
                     xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.3333 8.33334L9 16.6667L0.666664 8.33334" stroke="black" />
                </svg>
              </button>
            </h3>
            <div class="period-item__wrapper ac-panel">
              <ul class="period-item__artist-list ac-text">
              </ul>
            </div>
          </li>
          <li class="artist-choice__period-item period-item ac">
            <h3 class="artist-choice__period ac-header">
              <button class="artist-choice__btn ac-trigger"><span>С 1500 по 1599 гг.</span>
                <svg fill="none" height="18" viewBox="0 0 18 18" width="18"
                     xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.3333 8.33334L9 16.6667L0.666664 8.33334" stroke="black" />
                </svg>
              </button>
            </h3>
            <div class="period-item__wrapper ac-panel">
              <ul class="period-item__artist-list ac-text">
              </ul>
            </div>
          </li>
          <li class="artist-choice__period-item period-item ac">
            <h3 class="artist-choice__period ac-header">
              <button class="artist-choice__btn ac-trigger"><span>С 1600 по 1699 гг.</span>
                <svg fill="none" height="18" viewBox="0 0 18 18" width="18"
                     xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.3333 8.33334L9 16.6667L0.666664 8.33334" stroke="black" />
                </svg>
              </button>
            </h3>
            <div class="period-item__wrapper ac-panel">
              <ul class="period-item__artist-list ac-text">
              </ul>
            </div>
          </li>
          <li class="artist-choice__period-item period-item ac">
            <h3 class="artist-choice__period ac-header">
              <button class="artist-choice__btn ac-trigger"><span>С 1700 по 1799 гг.</span>
                <svg fill="none" height="18" viewBox="0 0 18 18" width="18"
                     xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.3333 8.33334L9 16.6667L0.666664 8.33334" stroke="black" />
                </svg>
              </button>
            </h3>
            <div class="period-item__wrapper ac-panel">
              <ul class="period-item__artist-list ac-text">
              </ul>
            </div>
          </li>
          <li class="artist-choice__period-item period-item ac">
            <h3 class="artist-choice__period ac-header">
              <button class="artist-choice__btn ac-trigger"><span>С 1800 по 1899 гг.</span>
                <svg fill="none" height="18" viewBox="0 0 18 18" width="18"
                     xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.3333 8.33334L9 16.6667L0.666664 8.33334" stroke="black" />
                </svg>
              </button>
            </h3>
            <div class="period-item__wrapper ac-panel">
              <ul class="period-item__artist-list ac-text">
              </ul>
            </div>
          </li>
          <li class="artist-choice__period-item period-item ac">
            <h3 class="artist-choice__period ac-header">
              <button class="artist-choice__btn ac-trigger"><span>С 1900 по 1999 гг.</span>
                <svg fill="none" height="18" viewBox="0 0 18 18" width="18"
                     xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.3333 8.33334L9 16.6667L0.666664 8.33334" stroke="black" />
                </svg>
              </button>
            </h3>
            <div class="period-item__wrapper ac-panel">
              <ul class="period-item__artist-list ac-text">
              </ul>
            </div>
          </li>
          <li class="artist-choice__period-item period-item ac">
            <h3 class="artist-choice__period ac-header">
              <button class="artist-choice__btn ac-trigger"><span>С 2000 г.</span>
                <svg fill="none" height="18" viewBox="0 0 18 18" width="18"
                     xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.3333 8.33334L9 16.6667L0.666664 8.33334" stroke="black" />
                </svg>
              </button>
            </h3>
            <div class="period-item__wrapper ac-panel">
              <ul class="period-item__artist-list ac-text">
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="catalog-tab__artist-wrapper">
        <article aria-label="О художнике" class="catalog-tab__artist artist">
          <picture class="artist__picture">
            <source media="(min-width: 1025px)" srcset="img/guirlandaio@2x.jpg 2x, img/guirlandaio.jpg">
            <source media="(min-width: 577px)" srcset="img/guirlandaio@2x-tab.jpg 2x, img/guirlandaio-tab.jpg">
            <source srcset="img/guirlandaio-tab.jpg">
            <img alt="Какая-то картина этого художника" src="img/guirlandaio.jpg">
          </picture>
          <h3 class="artist__name">Доменико Гирландайо</h3>
          <span class="artist__lifetime">2 июня 1448 — 11 января 1494.</span>
          <p class="artist__descr">Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили его брат Давид и сын Ридольфо. Глава художественной мастерской, где юный Микеланджело в течение года овладевал профессиональными навыками. Автор фресковых циклов, в которых выпукло, со всевозможными подробностями показана домашняя жизнь библейских персонажей (в их роли выступают знатные граждане Флоренции в костюмах того времени).</p>
        </article>
      </div>
    </section>
  </div>
</section>
