
.catalog {
	padding-top: 80px;
	padding-bottom: 75px;

	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__title {
		margin-right: 40px;
	}

	&-nav {
		&__list {
			display: flex;
			line-height: 0;
		}

		&__item:not(:last-child) {
			margin-right: 50px;
		}

		&__btn {
			position: relative;
			padding: 0;
			border: none;
			border-radius: 50%;
			line-height: 0;
			transition-duration: .3s;
			transition-property: filter, border-color, box-shadow;

			&:focus-visible {
				box-shadow: 0 0 0 4px var(--focus_click);
			}

			@media (pointer: fine) {
				&:hover {
					box-shadow: 0 0 20px var(--background-control70);
				}
			}

			&:active {
				box-shadow: 0 0 0 2px var(--background-control);
			}
		}

		&__btn--active {
			pointer-events: none;

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				width: 150%;
				height: 150%;
				border: 2px solid var(--background-control);
				border-radius: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&__icon {
			max-height: 46px;
		}
	}

	&-tab {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 16px;

		&__artist {
			display: none;
		}

		&__artist--visible {
			display: block;
			animation: fade-in .2s both;
		}

		&__artist--hidden {
			animation: fade-out .3s both;
		}

		&__descr {
			max-width: calc(65% + 40px);
			margin-bottom: 39px;
		}

		&__choice {
			align-self: flex-start;
			order: 1;
			width: 50%;
		}

		&__artist-wrapper {
			max-width: calc(50% - 50px);
		}
	}

	&__tab {
		display: none;
	}

	&__tab--visible {
		display: flex;
		animation: fade-in .2s;
	}

	&__tab--hidden {
		animation: fade-out .3s;
	}
}

.artist-choice {
	&__period-list {
		.is-active svg path {
			transform: rotateX(180deg);
		}
	}

	&__period-item {
		border: none;

		&:first-child {
			margin-top: 0;
			border-top: 1px solid var(--background-tip);
		}
	}

	& &__period {
		padding: 29px 0 34px;
		border-bottom: 1px solid var(--background-tip);
	}

	& &__btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		font-weight: 600;
		font-size: 24px;
		font-family: "Open Sans", sans-serif;
		line-height: 32px;

		&::after {
			display: none;
		}

		svg {
			width: 50px;
			height: 50px;
			padding: 13px;
			border: 2px solid transparent;
			border-radius: 50%;
			background-color: var(--background-accord);
			transition-duration: .3s;
			transition-property: border-color, background-color;

			path {
				transition-duration: .3s;
				transition-property: stroke, transform;
				transform-origin: center;
			}
		}

		span {
			outline: 2px solid transparent;
			outline-offset: 2px;
			transition-duration: .3s;
			transition-property: outline-color, color;
		}

		&:focus-visible {
			span {
				outline-color: var(--focus_click);
			}

			svg {
				border-color: var(--focus_click);
			}
		}

		@media (pointer: fine) {
			&:hover {
				span {
					color: var(--background-control);
				}

				svg {
					background-color: var(--background-control);

					path {
						stroke: var(--font-alt);
					}
				}
			}
		}

		&:active {
			span {
				color: var(--background-control);
			}

			svg {
				border-color: var(--hover-main);
				background-color: var(--focus_click);

				path {
					stroke: var(--font-alt);
				}
			}
		}
	}
}

.period-item {
	&__wrapper {
		border-bottom: 1px solid var(--background-control);
	}

	&__artist-list {
		max-width: 758px;
		column-count: 3;
	}

	&__artist-item {
		width: 208px;
		margin-bottom: 7px;
		padding-top: 1px;
	}

	&__btn-artist {
		padding: 0;
		border: none;
		background-color: transparent;
		outline: 2px solid transparent;
		outline-offset: 2px;
		font-size: 16px;
		font-family: "Open Sans", sans-serif;
		line-height: 1;
		text-decoration: underline transparent;
		transition-property: color, outline-color, text-decoration-color;
		animation-duration: .3s;

		&:focus-visible {
			outline-color: var(--focus_click);
		}

		@media (pointer: fine) {
			&:hover {
				color: var(--font-link);
				text-decoration-color: var(--font-link);
			}
		}

		&:active {
			color: var(--focus_click);
		}
	}

	&__btn-artist--active {
		color: var(--background-control);
		pointer-events: none;
	}
}

.artist {
	line-height: 0;

	&__pic {
		object-fit: contain;
		width: 100%;
		max-height: 470px;
		margin-bottom: 30px;
	}

	&__name {
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
	}

	&__lifetime {
		display: block;
		margin-bottom: 6px;
		color: var(--font-light);
		font-size: 12px;
		line-height: 16px;
	}

	&__descr {
		line-height: 32px;
	}
}

.ac {
	margin-top: 0;
}

.ac .ac-panel .ac-text {
	padding: 29px 0 31px 4px;
}

.ac .ac-trigger:focus-visible {
	color: var(--font-main);
}

@media (max-width: 1366px) {
	.catalog-tab {
		&__descr {
			max-width: 90%;
		}

		&__artist-wrapper,
		&__choice {
			max-width: calc(50% - 25px);
		}
	}
	.period-item__artist-list {
		column-count: 2;
	}
}

@media (max-width: 1024px) {
	.catalog {
		&__nav {
			position: relative;
			top: 9px;
		}
	}
	.catalog-tab {
		&__descr {
			max-width: 100%;
		}
	}
	.period-item {
		&__artist-list {
			column-gap: 60px;
		}

		&__artist-item:nth-last-child(-n+2) {
			display: none;
		}
	}
	.ac .ac-panel .ac-text {
		padding-bottom: 25px;
	}
}

@media (max-width: 992px) {
	.catalog {
		padding-bottom: 72px;
	}
	.catalog__tab-wrapper {
		max-width: 100%;
	}
	.catalog-nav {
		top: 3px;

		&__item:not(:last-child) {
			margin-right: 53.9px;
		}
	}
	.catalog-tab {
		&__descr {
			margin-bottom: 20px;
		}

		&__choice,
		&__artist-wrapper {
			width: 100%;
			max-width: 100%;
		}

		&__choice {
			order: 0;
			margin-bottom: 46px;
		}
	}
	.period-item {
		&__artist-list {
			column-gap: 50px;
			column-count: 3;
		}

		&__artist-item:nth-last-child(-n+2) {
			display: list-item;
		}
	}
	.ac .ac-panel .ac-text {
		padding-bottom: 31px;
	}
}

@media (max-width: 767px) {
	.period-item__artist-list {
		column-count: 2;
	}
}

@media (max-width: 576px) {
	.catalog {
		padding-bottom: 52px;

		&__title {
			margin-bottom: 12px;
		}
	}
	.catalog-nav {
		position: static;
		margin-bottom: 20px;

		&__item:not(:last-child) {
			margin-right: 32px;
		}
	}
	.catalog-tab {
		padding-top: 0;

		&__descr {
			display: none;
		}

		&__choice {
			margin-bottom: 50px;
		}
	}
	.artist-choice {
		& &__btn {
			span {
				font-weight: 600;
				font-size: 18px;
				line-height: 32px;
			}

			svg {
				width: 30px;
				height: 30px;
				padding: 6px;
			}
		}

		& &__period {
			padding: 20px 0;
		}
	}
	.period-item {
		&__artist-list {
			column-count: 1;
		}

		&__artist-item:nth-last-child(-n+2) {
			display: none;
		}
	}
	.ac .ac-panel .ac-text {
		padding-top: 22px;
		padding-bottom: 16px;
	}
	.artist {
		&__pic {
			margin-bottom: 20px;
		}

		&__name {
			margin-bottom: 14px;
		}

		&__descr {
			padding-right: 1px;
		}
	}
}
