
.catalog {
	padding-top: 80px;
	padding-bottom: 80px;

	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__title {
		margin-right: 40px;
	}

	&-nav {
		&__list {
			display: flex;
			line-height: 0;
		}

		&__item:not(:last-child) {
			margin-right: 50px;
		}

		&__btn {
			position: relative;
			padding: 0;
			border: none;
			border-radius: 50%;
			line-height: 0;
			transition: filter .2s, border-color .2s, box-shadow .2s;
		}

		&__btn:hover {
			filter: drop-shadow(0px 0px 20px var(--background-control70));
		}

		&__btn:active {
			box-shadow: 0 0 0 2px var(--background-control)
		}

		&__btn--active {
			pointer-events: none;
		}

		&__btn--active::after {
			content: "";
			position: absolute;
			top: -10px;
			left: -10px;
			width: 66px;
			height: 66px;
			border: 2px solid var(--background-control);
			border-radius: 50%;
		}

		&__icon {
			max-height: 46px;
		}
	}

	&-tab {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 16px;

		&__artist {
			display: none;
		}

		&__artist--visible {
			display: block;
			animation: fade-in .2s both;
		}

		&__artist--hidden {
			animation: fade-out .3s both;
		}

		&__descr {
			max-width: 1080px;
			margin-bottom: 39px;
		}

		&__choice {
			align-self: flex-start;
			order: 1;
			width: 50%;
		}

		&__artist-wrapper {
			position: relative;
			width: calc(50% - 50px);
		}
	}

	&__tab {
		display: none;
	}

	&__tab--visible {
		display: flex;
		animation: fade-in .2s;
	}

	&__tab--hidden {
		animation: fade-out .3s;
	}
}

.artist-choice {
	&__period-list {
		.is-active svg path {
			transform: rotateX(180deg);
		}
	}

	&__period-item {
		border: none;
	}

	&__period-item:first-child {
		margin-top: 0;
		border-top: 1px solid var(--background-tip);
	}

	& &__period {
		padding: 29px 0 34px;
		border-bottom: 1px solid var(--background-tip);
	}

	& &__btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		font-weight: 600;
		font-size: 24px;
		font-family: "Open Sans", sans-serif;
		line-height: 32px;

		&::after {
			display: none;
		}

		svg {
			width: 50px;
			height: 50px;
			padding: 13px;
			border: 2px solid transparent;
			border-radius: 50%;
			background-color: var(--background-accord);
			transition: border-color .3s, background-color .3s;

			path {
				transition: stroke .3s, transform .3s;
				transform-origin: center;
			}
		}

		span {
			outline: 2px solid transparent;
			outline-offset: 2px;
			transition: outline-color .2s, color .2s;
		}

		&:hover {
			span {
				color: var(--background-control);
			}

			svg {
				background-color: var(--background-control);

				path {
					stroke: var(--font-alt);
				}
			}
		}

		&:focus-visible {
			span {
				outline-color: var(--focus_click);
			}

			svg {
				border-color: var(--focus_click);
			}
		}

		&:active {
			span {
				color: var(--background-control);
			}

			svg {
				border-color: var(--hover-main);
				background-color: var(--focus_click);

				path {
					stroke: var(--font-alt)
				}
			}
		}
	}
}

.period-item {
	&__wrapper {
		border-bottom: 1px solid var(--background-control);
	}

	&__artist-list {
		max-width: 758px;
		column-count: 3;
	}

	&__artist-item {
		width: 208px;
		margin-bottom: 7px;
		padding-top: 1px;
	}

	&__artist-btn {
		padding: 0;
		border: none;
		background-color: transparent;
		outline: 2px solid transparent;
		outline-offset: 2px;
		font-size: 16px;
		font-family: "Open Sans", sans-serif;
		line-height: 1;
		text-decoration: underline transparent;
		transition: color .2s, outline-color .2s, text-decoration-color .2s;
	}

	&__artist-btn:hover {
		color: var(--font-link);
		text-decoration-color: var(--font-link);
	}

	&__artist-btn:active {
		color: var(--focus_click);
	}

	&__artist-btn:focus-visible {
		outline-color: var(--focus_click);
	}

	&__artist-btn--active {
		color: var(--background-control);
		pointer-events: none;
	}
}

.artist {
	line-height: 0;

	&__pic {
		object-fit: contain;
		width: 100%;
		max-height: 470px;
		margin-bottom: 30px;
	}

	&__name {
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
	}

	&__lifetime {
		display: block;
		margin-bottom: 6px;
		color: var(--font-light);
		font-size: 12px;
		line-height: 16px;
	}

	&__descr {
		line-height: 32px;
	}
}

.ac {
	margin-top: 0;
}

.ac .ac-panel .ac-text {
	padding: 29px 0 25px 4px;
}

.ac .ac-trigger:focus {
	color: var(--font-main);
}




