<section class="events" id="events">
  <div class="events__container page-container">
    <h2 class="events__title section-title">События</h2>
    <div class="events__slider splide">
      <div class="events__track splide__track">
        <ul class="events__list splide__list" data-events="collapsed" title="Карточки событий">
          <li class="events__item splide__slide">
            <article class="events__article event">
              <picture class="event__picture">
                <source srcset="img/events-1@2x.jpg 2x, img/events-1.jpg">
                <img alt="Обложка события" src="img/events-1.jpg">
              </picture>
              <span class="event__caption">Музей им. Щусева</span>
              <span class="event__caption">с 20 марта по 30 апреля</span>
              <div class="event__text-wrapper">
                <h3 class="event__title">Книжная гравюра в живом восприятии</h3>
                <p
                  class="event__descr">Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили его брат Давид и сын Ридольфо. Глава художественной мастерской, где юный Микеланджело.</p>
              </div>
              <a class="event__details" href="">Подробнее</a>
            </article>
          </li>
          <li class="events__item splide__slide">
            <article class="events__article event">
              <picture class="event__picture">
                <source srcset="img/events-2@2x.jpg 2x, img/events-2.jpg">
                <img alt="Обложка события" src="img/events-2.jpg">
              </picture>
              <span class="event__caption">ММОМА</span>
              <span class="event__caption">24 марта 19:00</span>
              <div class="event__text-wrapper">
                <h3 class="event__title">«Открытая дискуссия». Дмитрий Петров и Сергей Ильин.</h3>
                <p
                  class="event__descr">Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки новых принципов формирования...</p>
              </div>
              <a class="event__details" href="">Подробнее</a>
            </article>
          </li>
          <li class="events__item splide__slide">
            <article class="events__article event">
              <picture class="event__picture">
                <source srcset="img/events-3@2x.jpg 2x, img/events-3.jpg">
                <img alt="Обложка события" src="img/events-3.jpg">
              </picture>
              <span class="event__caption">Еврейский музей</span>
              <span class="event__caption">с 31 марта по 21 апреля</span>
              <div class="event__text-wrapper">
                <h3 class="event__title">Выставка «Формация 2020»</h3>
                <p
                  class="event__descr">Идейные соображения высшего порядка, а также современная методология разработки играет важную роль в формировании глубокомысленных рассуждений. Также как перспективное планирование играет определяющее значение для новых принципов формирования материально-технической и кадровой базы.</p>
              </div>
              <a class="event__details" href="">Подробнее</a>
            </article>
          </li>
          <li class="events__item splide__slide">
            <article class="events__article event">
              <picture class="event__picture">
                <source srcset="img/events-4@2x.jpg 2x, img/events-4.jpg">
                <img alt="Обложка события" src="img/events-4.jpg">
              </picture>
              <span class="event__caption">Третьяковка на Крымском валу</span>
              <span class="event__caption">с 30 марта по 30 апреля</span>
              <div class="event__text-wrapper">
                <h3 class="event__title">XXIV Международная биеннале молодого искусства</h3>
                <p
                  class="event__descr">Внезапно, реплицированные с зарубежных источников, современные исследования представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых...</p>
              </div>
              <a class="event__details" href="">Подробнее</a>
            </article>
          </li>
          <li class="events__item splide__slide">
            <article class="events__article event">
              <picture class="event__picture">
                <source srcset="img/events-5@2x.jpg 2x, img/events-5.jpg">
                <img alt="Обложка события" src="img/events-5.jpg">
              </picture>
              <span class="event__caption">ММАМ</span>
              <span class="event__caption">с 8 апреля по 20 мая</span>
              <div class="event__text-wrapper">
                <h3 class="event__title">Джон Винзор. Фотографии из серии «Метафора серебра»</h3>
                <p
                  class="event__descr">Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили его брат Давид и сын Ридольфо. Глава художественной мастерской, где юный Микеланджело.</p>
              </div>
              <a class="event__details" href="">Подробнее</a>
            </article>
          </li>
        </ul>
      </div>
    </div>
    <button aria-label="Показать все события" class="events__btn-more btn">Все события</button>
  </div>
</section>
