.hero {
	padding-top: 139px;
	padding-bottom: 122px;
	background: #000 url("../img/hero-1.jpg") center bottom/cover no-repeat;
	color: var(--font-alt);
	font-weight: 700;

	&__title,
	&__descr {
		max-width: 597px;
	}

	&__title {
		margin-bottom: 17px;
		font-size: 72px;
		line-height: 85px;
	}

	&__descr {
		margin-bottom: 91px;
		font-size: 18px;
		line-height: 30px;
	}

	&__btn-subscribe {
		padding: 20px 36px;
		border: 3px solid transparent;
		background: #9d5cd0;
		color: var(--font-alt);
		outline: none;
		font-size: 18px;
		line-height: 25px;

		&:focus-visible {
			border-color: var(--focus_click);
		}

		@media (pointer: fine) {
			&:hover {
				border-color: var(--hover-main);
			}
		}
	}

	@media (max-width: 1024px) {
		padding-top: 112px;
		padding-bottom: 114px;
		&__title {
			margin-bottom: 8px;
		}
		&__descr {
			max-width: 660px;
			margin-bottom: 133px;
		}
	}
}

