.hero {
	padding-top: 139px;
	padding-bottom: 122px;
	background: #000 url("../img/hero-1.jpg") center bottom/cover no-repeat;
	color: var(--font-alt);
	font-weight: 700;

	&__title,
	&__descr {
		max-width: 597px;
	}

	&__title {
		margin-bottom: 17px;
		font-size: 72px;
		line-height: 85px;
	}

	&__descr {
		margin-bottom: 91px;
		font-size: 18px;
		line-height: 30px;
	}

	&__subscribe-btn {
		padding: 20px 36px;
		border: 3px solid transparent;
		background: #9d5cd0;
		color: var(--font-alt);
		font-size: 18px;
		line-height: 25px;

		&:focus-visible {
			border-color: var(--focus_click);
		}

		@media (pointer: fine) {
			&:hover {
				border-color: var(--hover-main);
			}
		}

		&:active {
			border-color: var(--hover-main);
			background-color: var(--focus_click);
		}
	}
}
