.about {
	padding-top: 80px;
	padding-bottom: 70px;

	&__title {
		margin-bottom: 16px;
	}

	&__descr {
		max-width: calc(65% + 40px);
	}
}

@media (max-width: 1400px) {
	.about__descr {
		max-width: 90%;
	}
}
