.modal {
  &__container {
    width: 900px;
    height: 500px;
    padding: 0;
    border-radius: 0;
  }

  &-content {
    height: 100%;
  }

  &__close {
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
  }
}

.canvas {
  display: flex;
  height: 100%;

  &__picture {
    min-width: 44.5%;
    max-width: 44.5%;
    height: 100%;

    img {
      display: block;
      height: 100%;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 4px 50px 0;
  }

  &__author {
    font-weight: 600;
    font-size: 24px;
  }

  &__name {
    font-weight: 600;
    line-height: 22px;
  }

  &__lifetime {
    display: inline-block;
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 16px;
    color: var(--font-light);
  }

  &__descr {
    overflow: auto;
  }
}

.mail {
  max-width: 600px;
  max-height: 300px;
  border-radius: 10px;
  font-size: 20px;
  color: #558b2f;
  background-color: #d7f8a9;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-align: center;
  }

  &__descr {
    &:last-of-type {
      margin-bottom: 32px;
    }
  }

  svg {
    width: 50px;
    height: 50px;

    path {
      fill: #558b2f;
    }
  }
}

@media (max-width: 1024px) {
  .modal__container {
    width: 594px;
    height: 594px;
  }
}

@media (max-width: 992px) {
  .modal__container {
    width: calc(100% - 100px);
  }
}

@media (max-width: 767px) {
  .modal__container {
    width: calc(100% - 30px);
  }
}

@media (max-width: 576px) {
  .modal__container {
    height: 600px;
  }
  .canvas {
    flex-direction: column;

    &__picture {
      min-width: 100%;
      max-width: 100%;
      max-height: 200px;
    }

    &__wrapper {
      padding: 17px 21px 26px 20px;
    }

    &__name {
      margin-bottom: 5px;
    }

    &__lifetime {
      margin-bottom: 7px;
    }
  }
}

