<div class="modal">
  <div aria-modal="true" class="modal__container" data-graph-target="modal" role="dialog">
    <button aria-label="Закрыть окно" class="btn-reset modal__close"></button>
    <div class="modal-content">
      <article class="canvas">
        <picture class="canvas__picture">
          <source media="(min-width: 1025px)" srcset="img/gallery-1@2x.jpg 2x, img/gallery-1.jpg">
          <source media="(min-width: 577px)" srcset="img/gallery-1@2x-tab.jpg 2x, img/gallery-1-tab.jpg">
          <source srcset="img/gallery-1-mob.jpg">
          <img alt="Картина-1" aria-label="Картина-1" src="img/gallery-1.jpg">
        </picture>
        <div class="canvas__wrapper">
          <h3 class="canvas__author">Казимир Малевич</h3>
          <h4 class="canvas__name">“Женщина с граблями”</h4>
          <span class="canvas__lifetime">1931-1932</span>
          <p class="canvas__descr">Картина из второй серии крестьянского цикла работ Казимира Малевича. Художник принялся за её создание в 1930-1931 годах, после того, как первый цикл был утерян после Берлинской и Варшавской выставок в 1927 году.</p>
        </div>
      </article>
    </div>
  </div>
</div>
