[type="search"] {
	outline-offset: -2px; /* 2 */
	-webkit-appearance: textfield; /* 1 */
}

.header {
	background-color: var(--background-head-foot);

	&__container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	&__burger {
		display: none;
	}

	&__logo {
		object-fit: cover;
		width: 173px;
		height: 40px;
	}

	&__search {
		display: none;
		align-items: center;
		transition-duration: .3s;
		transition-property: margin-left, width;

		&--expanded {
			margin-left: -228px;

			.header__input {
				width: 218px;
				margin-left: 10px;
				padding-right: 10px;
			}
		}
	}

	&__btn-search {
		svg {
			vertical-align: middle;
			width: 30px;
			height: 30px;
		}
	}

	&__input {
		width: 0;
		padding: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		font-size: 20px;
		transition: margin-left .3s, padding-right .3s, width .3s;
	}

	&__btn-trigger {
		display: none;
		flex-direction: column;
		justify-content: space-between;
		width: 29px;
		height: 29px;
		padding: 0;
		border: none;
		background: transparent;

		span {
			width: 36px;
			height: 4px;
			background: var(--font-alt);
			transform-origin: left;

			&:first-child {
				transform: translateX(2px) rotate(45deg);
			}

			&:last-child {
				transform: translateX(2px) rotate(-45deg);
			}
		}
	}

	&__nav {
		width: 56%;
		margin-right: 100px;
	}

	&__enter {
		color: var(--font-alt);
		font-size: 18px;
		line-height: 25px;

		svg {
			margin-right: 5px;

			path {
				transition: fill .3s;
			}
		}

		@media (pointer: fine) {
			&:hover {
				color: var(--hover-alt);

				svg path {
					fill: var(--hover-alt);
				}
			}
		}

		&:active {
			color: var(--font-link);

			svg path {
				fill: var(--font-link);
			}
		}
	}

	&__bottom-bar {
		position: absolute;
		width: 100%;
		background-color: rgba(0, 0, 0, .4);
	}
}

.head-nav {
	&__list {
		display: flex;
		justify-content: space-between;
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
	}

	&__link {
		color: var(--font-alt);
		@media (pointer: fine) {
			&:hover {
				color: var(--hover-alt);
			}
		}

		&:active {
			color: var(--focus_click);
		}
	}
}

.enter-mobile {
	display: none;
}

.head-nav__link,
.header__enter {
	outline: 2px solid transparent;
	outline-offset: var(--offset);
	transition-duration: .3s;
	transition-property: color, outline-color;

	&:focus-visible {
		outline-color: var(--focus_click);
	}
}

.head-bar {
	padding-top: 20px;
	padding-bottom: 18px;

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__menu {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 65%;
	}

	&__btn-open {
		position: relative;
		z-index: 1;
		padding: 0;
		border: none;
		background-color: transparent;
		color: var(--font-alt);
		outline: 2px solid transparent;
		outline-offset: var(--offset);
		font-size: 18px;
		line-height: 25px;
		transition-duration: .3s;
		transition-property: color, outline-color;

		&:focus-visible {
			outline-color: var(--focus_click);
		}
	}

	&__item {
		position: relative;

		svg * {
			transition: stroke .3s;
		}

		&::after {
			content: "";
			position: absolute;
			top: .1em;
			left: 0;
			width: 100%;
			height: 3em;
		}

		@media (pointer: fine) {
			&:hover {
				.head-bar__btn-open {
					color: var(--font-link);
				}

				.head-bar__scrollbar-wrapper {
					display: block;
					animation: fade-in .3s both;
				}

				svg path {
					stroke: var(--font-link);
				}
			}
			&:not(:hover) .did-fade-in {
				display: block;
				animation: fade-out .3s;
			}
		}
	}

	&__item &__btn-open:active {
		color: var(--focus_click);

		svg path {
			stroke: var(--focus_click);
		}
	}

	&__search {
		display: flex;
		align-items: baseline;
		outline: 2px solid transparent;
		outline-offset: var(--offset);
		transition-duration: .3s;
		transition-property: outline-color, border-color;

		svg {
			path, rect {
				transition: fill .3s;
			}
		}

		&:focus-within {
			outline-color: var(--focus_click);
		}

		&:hover {
			.head-bar__input {
				border-color: var(--hover-alt);
			}

			* {
				path,
				rect {
					fill: var(--hover-alt);
				}
			}
		}
	}

	&__btn-search {
		position: relative;
		top: 6px;
		margin-right: 10px;
	}

	&__input {
		order: 1;
		width: 218px;
		padding: 0 0 3px;
		font-size: 16px;
		transition: border-color .3s;

		&::placeholder {
			color: var(--font-alt);
			font-size: 18px;
			line-height: 25px;
			opacity: .85;
		}

		&:focus-visible::placeholder {
			opacity: 0;
		}
	}

	&__scrollbar-wrapper {
		position: absolute;
		top: 50px;
		display: none;
		width: 300px;
		height: 300px;
		padding: 40px;
		background-color: rgba(0, 0, 0, .6);
		opacity: 0;
	}

	&__artist-list {
		width: 100%;
		max-height: 100%;
		@media (pointer: fine) {
			&:hover .simplebar-scrollbar {
				background-color: var(--background-control);
			}
		}
	}

	&__menu &__item &__scrollbar-wrapper--visible {
		display: block;
		animation: fade-in .3s both;
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes fade-out {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}

	&__artist-item {
		position: relative;
		padding: 9px 15px 12px;
		background: var(--background-safe) center/cover no-repeat;
		outline: 2px solid transparent;
		outline-offset: -2px;
		line-height: 0;
		transition: outline-color .2s;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		@media (pointer: fine) {
			&:hover {
				outline-color: var(--background-control);
			}
		}

		&:active {
			outline-color: var(--hover-main);

			.head-bar__artist::after {
				background-color: var(--hover-alt);
			}
		}
	}

	&__artist {
		color: var(--font-alt);
		outline: 2px solid transparent;
		outline-offset: var(--offset);
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: transparent;
			opacity: .4;
		}

		&:focus-visible {
			outline-color: var(--focus_click);
		}
	}
}

.burger {
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	height: 28px;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;

	&__line {
		display: block;
		width: 36px;
		height: 4px;
		background-color: var(--font-alt);
		transition-duration: .3s;
		transition-property: background-color, transform;
	}

	&--active {
		.line-1 {
			transform: translateY(12px) rotate(45deg);
		}

		.line-2 {
			transform: translateX(-100px);
		}

		.line-3 {
			transform: translateY(-12px) rotate(-45deg);
		}
	}
}

.line {
	&-2 {
		transform: translateX(-8px);
	}

	&-3 {
		transform: translateX(-12px);
	}

	&-1,
	&-3 {
		transform-origin: center;
	}
}

.search {
	&-btn {
		padding: 0;
		border: none;
		background-color: transparent;
	}

	&-input {
		border: none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.85);
		background-color: transparent;
		color: var(--font-alt);
	}
}

.simplebar {
	.simplebar-track {
		right: -19px;
		width: 2px;
		background-color: var(--background-head-foot);
	}

	&-scrollbar {
		background-color: var(--font-alt);
		transition: background-color .2s;
	}
}

.tintoretto {
	background-image: url("../img/header-tintoretto.jpg");
}

.friedrich {
	background-image: url("../img/header-friedrich.jpg");
}

.leonardo {
	background-image: url("../img/header-leonardo.jpg");
}

.verocchio {
	background-image: url("../img/header-verocchio.jpg");
}

.manet {
	background-image: url("../img/header-manet.jpg");
}

.monet {
	background-image: url("../img/header-monet.jpg");
}

.renoir {
	background-image: url("../img/header-renoir.jpg");
}

.sisley {
	background-image: url("../img/header-sisley.jpg");
}

.van-gogh {
	background-image: url("../img/header-van-gogh.jpg");
}

.cezanne {
	background-image: url("../img/header-cezanne.jpg");
}

.gauguin {
	background-image: url("../img/header-gauguin.jpg");
}

.seurat {
	background-image: url("../img/header-seurat.jpg");
}

.kandinsky {
	background-image: url("../img/header-kandinsky.jpg");
}

.marinetti {
	background-image: url("../img/header-marinetti.jpg");
}

.malevich {
	background-image: url("../img/header-malevich.jpg");
}

.picasso {
	background-image: url("../img/header-picasso.jpg");
}

.carra {
	background-image: url("../img/header-carra.jpg");
}

.pratella {
	background-image: url("../img/header-pratella.jpg");
}

.severini {
	background-image: url("../img/header-severini.jpg");
}

.balla {
	background-image: url("../img/header-balla.jpg");
}

@media (max-width: 1366px) {
	.header__nav {
		width: 70%;
		margin-right: 0;
	}
	.head-nav__link {
		font-weight: 400;
	}
}

@media (max-width: 1024px) {
	.header {
		position: relative;

		&__container {
			padding-top: 28px;
			padding-bottom: 28px;
		}

		&__logo {
			width: 187px;
			height: 44px;
		}

		&__bottom-bar {
			display: none;
		}

		&__burger,
		&__search {
			display: flex;
		}

		&__burger {
			position: relative;
			z-index: 21;
		}

		&__nav {
			position: absolute;
			top: -120vh;
			left: 0;
			z-index: 20;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
			width: 100%;
			height: 100vh;
			padding: 100px 50px 50px;
			background-color: rgba(0, 0, 0, .9);
			transition: transform .6s ease-out;

			&--opened {
				transform: translateY(120vh);
			}
		}
	}
	.head-nav {
		&__list {
			display: flex;
			flex-direction: column;
		}

		&__item {
			font-weight: 600;
			font-size: 24px;
			line-height: 64px;
		}
	}
	.enter {
		&-desktop {
			display: none;
		}

		&-mobile {
			display: block;
			padding: 16px 87px;
			border: 2px solid var(--background-control);
			border-radius: 100px;
			outline: transparent solid 2px;
			outline-offset: var(--offset);
			font-weight: 600;
			transition-duration: .3s;

			&:focus-visible {
				outline-color: var(--focus_click);
			}

			&:active {
				border-color: var(--hover-main);
				background-color: var(--focus_click);
			}
		}
	}
}

@media (max-width: 992px) {
	.header__search {
		&--expanded {
			margin-left: -170px;

			.header__input {
				width: 160px;
			}
		}
	}
}

@media (max-width: 768px) {
	.header {
		&__btn-trigger {
			display: flex;
		}

		&__search {
			position: absolute;
			right: 50px;
			z-index: 30;
			background-color: var(--background-head-foot);
			transition-property: transform;

			&::before {
				content: "";
				position: absolute;
				top: -10px;
				right: 0;
				bottom: -10px;
				left: -1px;
				z-index: 29;
				background-color: inherit;
			}

			&--expanded {
				margin-left: unset;
				transform: translateX(-52px);

				& + .header__btn-trigger {
					display: flex;
				}

				.header__input {
					width: calc(100vw - 192px);
				}
			}
		}

		&__input,
		&__btn-search {
			z-index: inherit;
		}
	}
}

@media (max-width: 576px) {
	.burger {
		height: 15px;

		&--active {
			&__line {
				width: 18px;
			}

			.line-1 {
				transform: translateY(6px) rotate(45deg);
			}

			.line-3 {
				transform: translateY(-7px) rotate(-45deg);
			}
		}

		&__line {
			width: 20px;
			height: 2px;
		}
	}
	.header {
		&__container {
			padding-top: 12px;
			padding-bottom: 10px;
		}

		&__logo {
			width: 97px;
			height: 23px;
		}

		&__nav {
			padding: 46px 15px 27px;
		}

		&__search {
			top: calc(-100% - 30px);
			right: 0;
			left: 0;
			align-items: flex-end;
			justify-content: center;
			width: 100%;
			height: calc(100% + 30px);
			padding-bottom: 20px;
			background-color: rgba(0, 0, 0, .4);
			transition: transform .3s;
			backdrop-filter: blur(40px);

			&--visible {
				transform: translateY(100%);
			}

			&::before {
				display: none;
			}
		}

		&__input {
			width: calc(50vw + 20px);
			font-size: 14px;
		}

		&__btn-search {
			svg {
				width: 16px;
				height: 16px;
				margin-right: 3px;
			}
		}

		&__btn-trigger {
			width: 16px;
			height: 16px;

			&[data-mode="lens"] {
				background: transparent url("/img/sprite.svg#search") center/cover no-repeat;

				span {
					display: none;
					width: 20px;
					height: 2px;
				}
			}

			&[data-mode="cross"] {
				z-index: 30;
				background: none;

				span {
					display: block;
					width: 20px;
					height: 2px;
				}
			}
		}
	}
	.line-2 {
		transform: translateX(-4px);
	}
	.line-3 {
		transform: translateX(-6px);
	}
	.head-nav__item {
		font-size: 16px;
		line-height: 2;
	}
	.enter-mobile {
		padding: 10px 30px;
		font-size: 12px;
		line-height: 16px;

		svg {
			width: 9px;
			height: 9px;
			margin-right: 1px;
		}
	}
}



