<header class="header">
	<div class="header__container page-container">
		<button aria-label="Меню" class="header__burger burger">
			<span class="burger__line line-1"></span>
			<span class="burger__line line-2"></span>
			<span class="burger__line line-3"></span>
		</button>
		<nav class="header__menu-burger menu-burger page-container">
			<ul class="menu-burger__list" title="Разделы сайта">
				<li class="menu-burger__item"><a class="menu-burger__link" href="#about">О нас</a></li>
				<li class="menu-burger__item"><a class="menu-burger__link" href="#gallery">Галерея</a></li>
				<li class="menu-burger__item"><a class="menu-burger__link" href="#catalog">Каталог</a></li>
				<li class="menu-burger__item"><a class="menu-burger__link" href="#events">События</a></li>
				<li class="menu-burger__item"><a class="menu-burger__link" href="#editions">Издания</a></li>
				<li class="menu-burger__item"><a class="menu-burger__link" href="#project">Проекты</a></li>
				<li class="menu-burger__item"><a class="menu-burger__link" href="#contacts">Контакты</a></li>
			</ul>
			<a aria-label="Вход в личный кабинет" class="menu-burger__enter" href="">
				<svg fill="none" height="13" viewBox="0 0 13 13" width="13" xmlns="http://www.w3.org/2000/svg">
					<path d="M5.12056 9.09278L6.13889 10.1111L9.75 6.5L6.13889 2.88889L5.12056 3.90722L6.98389 5.77778H0V7.22222H6.98389L5.12056 9.09278ZM11.5556 0H1.44444C0.642778 0 0 0.65 0 1.44444V4.33333H1.44444V1.44444H11.5556V11.5556H1.44444V8.66667H0V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V1.44444C13 0.65 12.35 0 11.5556 0Z"
					      fill="white" />
				</svg>
				Войти
			</a>
		</nav>
		<img alt="Логотип Blanchard" class="header__logo logo" src="/img/sprite.svg#logo-main">
		<form action="#" aria-label="Поиск по сайту" class="header__search search">
			<button aria-label="Искать" class="header__btn-search search-btn">
				<svg fill="none" height="22" viewBox="0 0 23 22" width="23"
				     xmlns="http://www.w3.org/2000/svg">
					<rect fill="white" height="1.71695" transform="matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6533)"
					      width="6.8678" />
					<path clip-rule="evenodd"
					      d="M12.0967 18C7.53016 18 3.99668 14.3229 3.99668 10C3.99668 5.67715 7.53016 2 12.0967 2C16.6632 2 20.1967 5.67715 20.1967 10C20.1967 14.3229 16.6632 18 12.0967 18ZM12.0967 20C6.57383 20 2.09668 15.5228 2.09668 10C2.09668 4.47715 6.57383 0 12.0967 0C17.6195 0 22.0967 4.47715 22.0967 10C22.0967 15.5228 17.6195 20 12.0967 20Z"
					      fill="white"
					      fill-rule="evenodd" />
				</svg>
			</button>
			<input class="header__input search-input" type="search">
		</form>
		<nav class="header__nav">
			<ul class="head-nav__list" title="Разделы сайта">
				<li class="head-nav__item"><a class="head-nav__link" href="#about">О нас</a></li>
				<li class="head-nav__item"><a class="head-nav__link" href="#gallery">Галерея</a></li>
				<li class="head-nav__item"><a class="head-nav__link" href="#catalog">Каталог</a></li>
				<li class="head-nav__item"><a class="head-nav__link" href="#events">События</a></li>
				<li class="head-nav__item"><a class="head-nav__link" href="#editions">Издания</a></li>
				<li class="head-nav__item"><a class="head-nav__link" href="#project">Проекты</a></li>
				<li class="head-nav__item"><a class="head-nav__link" href="#contacts">Контакты</a></li>
			</ul>
		</nav>
		<a aria-label="Вход в личный кабинет" class="header__enter" href="">
			<svg fill="none" height="13" viewBox="0 0 13 13" width="13" xmlns="http://www.w3.org/2000/svg">
				<path d="M5.12056 9.09278L6.13889 10.1111L9.75 6.5L6.13889 2.88889L5.12056 3.90722L6.98389 5.77778H0V7.22222H6.98389L5.12056 9.09278ZM11.5556 0H1.44444C0.642778 0 0 0.65 0 1.44444V4.33333H1.44444V1.44444H11.5556V11.5556H1.44444V8.66667H0V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V1.44444C13 0.65 12.35 0 11.5556 0Z"
				      fill="white" />
			</svg>
			Войти
		</a>
	</div>
	<div class="header__bottom-bar head-bar">
		<div class="head-bar__wrapper page-container">
			<ul class="head-bar__menu" title="Художественные направления">
				<li class="head-bar__item">
					<button aria-label="Показать список художников Реализма" class="head-bar__btn-open">Реализм
						<svg fill="none" height="11" viewBox="0 0 12 11" width="12" xmlns="http://www.w3.org/2000/svg">
							<path d="M11 5L6 10L0.999998 5" stroke="white" />
						</svg>
					</button>
					<div class="head-bar__scrollbar-wrapper">
						<ul class="head-bar__artist-list simplebar">
							<li class="head-bar__artist-item tintoretto"><a class="head-bar__artist" href="">Тинторретто</a></li>
							<li class="head-bar__artist-item friedrich"><a class="head-bar__artist" href="">Фридрих</a></li>
							<li class="head-bar__artist-item leonardo"><a class="head-bar__artist" href="">Леонардо</a></li>
							<li class="head-bar__artist-item verocchio"><a class="head-bar__artist" href="">Вероккьо</a></li>
							<li class="head-bar__artist-item tintoretto"><a class="head-bar__artist" href="">Тинторретто</a></li>
							<li class="head-bar__artist-item friedrich"><a class="head-bar__artist" href="">Фридрих</a></li>
							<li class="head-bar__artist-item leonardo"><a class="head-bar__artist" href="">Леонардо</a></li>
							<li class="head-bar__artist-item verocchio"><a class="head-bar__artist" href="">Вероккьо</a></li>
						</ul>
					</div>
				</li>
				<li class="head-bar__item">
					<button aria-label="Показать список художников Импрессионизма" class="head-bar__btn-open">Импрессионизм
						<svg fill="none" height="11" viewBox="0 0 12 11" width="12" xmlns="http://www.w3.org/2000/svg">
							<path d="M11 5L6 10L0.999998 5" stroke="white" />
						</svg>
					</button>
					<div class="head-bar__scrollbar-wrapper">
						<ul class="head-bar__artist-list simplebar">
							<li class="head-bar__artist-item monet"><a class="head-bar__artist" href="">Моне</a></li>
							<li class="head-bar__artist-item sisley"><a class="head-bar__artist" href="">Сислей</a></li>
							<li class="head-bar__artist-item manet"><a class="head-bar__artist" href="">Мане</a></li>
							<li class="head-bar__artist-item renoir"><a class="head-bar__artist" href="">Ренуар</a></li>
							<li class="head-bar__artist-item monet"><a class="head-bar__artist" href="">Моне</a></li>
							<li class="head-bar__artist-item sisley"><a class="head-bar__artist" href="">Сислей</a></li>
							<li class="head-bar__artist-item manet"><a class="head-bar__artist" href="">Мане</a></li>
							<li class="head-bar__artist-item renoir"><a class="head-bar__artist" href="">Ренуар</a></li>
						</ul>
					</div>
				</li>
				<li class="head-bar__item">
					<button aria-label="Показать список художников Постимпрессионизма" class="head-bar__btn-open">Постимпрессионизм
						<svg fill="none" height="11" viewBox="0 0 12 11" width="12" xmlns="http://www.w3.org/2000/svg">
							<path d="M11 5L6 10L0.999998 5" stroke="white" />
						</svg>
					</button>
					<div class="head-bar__scrollbar-wrapper">
						<ul class="head-bar__artist-list simplebar">
							<li class="head-bar__artist-item van-gogh"><a class="head-bar__artist" href="">Ван Гог</a></li>
							<li class="head-bar__artist-item cezanne"><a class="head-bar__artist" href="">Сезанн</a></li>
							<li class="head-bar__artist-item gauguin"><a class="head-bar__artist" href="">Гоген</a></li>
							<li class="head-bar__artist-item seurat"><a class="head-bar__artist" href="">Сёра</a></li>
							<li class="head-bar__artist-item van-gogh"><a class="head-bar__artist" href="">Ван Гог</a></li>
							<li class="head-bar__artist-item cezanne"><a class="head-bar__artist" href="">Сезанн</a></li>
							<li class="head-bar__artist-item gauguin"><a class="head-bar__artist" href="">Гоген</a></li>
							<li class="head-bar__artist-item seurat"><a class="head-bar__artist" href="">Сёра</a></li>
						</ul>
					</div>
				</li>
				<li class="head-bar__item">
					<button aria-label="Показать список художников Авангарда" class="head-bar__btn-open">Авангард
						<svg fill="none" height="11" viewBox="0 0 12 11" width="12" xmlns="http://www.w3.org/2000/svg">
							<path d="M11 5L6 10L0.999998 5" stroke="white" />
						</svg>
					</button>
					<div class="head-bar__scrollbar-wrapper">
						<ul class="head-bar__artist-list simplebar">
							<li class="head-bar__artist-item kandinsky"><a class="head-bar__artist" href="">Кандинский</a></li>
							<li class="head-bar__artist-item marinetti"><a class="head-bar__artist" href="">Маринетти</a></li>
							<li class="head-bar__artist-item malevich"><a class="head-bar__artist" href="">Малевич</a></li>
							<li class="head-bar__artist-item picasso"><a class="head-bar__artist" href="">Пикассо</a></li>
							<li class="head-bar__artist-item kandinsky"><a class="head-bar__artist" href="">Кандинский</a></li>
							<li class="head-bar__artist-item marinetti"><a class="head-bar__artist" href="">Маринетти</a></li>
							<li class="head-bar__artist-item malevich"><a class="head-bar__artist" href="">Малевич</a></li>
							<li class="head-bar__artist-item picasso"><a class="head-bar__artist" href="">Пикассо</a></li>
						</ul>
					</div>
				</li>
				<li class="head-bar__item">
					<button aria-label="Показать список художников Футуризма" class="head-bar__btn-open">Футуризм
						<svg fill="none" height="11" viewBox="0 0 12 11" width="12" xmlns="http://www.w3.org/2000/svg">
							<path d="M11 5L6 10L0.999998 5" stroke="white" />
						</svg>
					</button>
					<div class="head-bar__scrollbar-wrapper">
						<ul class="head-bar__artist-list simplebar">
							<li class="head-bar__artist-item carra"><a class="head-bar__artist" href="">Карра</a></li>
							<li class="head-bar__artist-item pratella"><a class="head-bar__artist" href="">Прателла</a></li>
							<li class="head-bar__artist-item severini"><a class="head-bar__artist" href="">Северини</a></li>
							<li class="head-bar__artist-item balla"><a class="head-bar__artist" href="">Балла</a></li>
							<li class="head-bar__artist-item carra"><a class="head-bar__artist" href="">Карра</a></li>
							<li class="head-bar__artist-item pratella"><a class="head-bar__artist" href="">Прателла</a></li>
							<li class="head-bar__artist-item severini"><a class="head-bar__artist" href="">Северини</a></li>
							<li class="head-bar__artist-item balla"><a class="head-bar__artist" href="">Балла</a></li>
						</ul>
					</div>
				</li>
			</ul>
			<form action="" aria-label="Поиск по сайту" class="head-bar__search search">
				<input class="head-bar__input search-input" placeholder="Поиск по сайту" type="search">
				<button aria-label="Искать" class="head-bar__btn-search search-btn">
					<svg fill="none" height="22" viewBox="0 0 23 22" width="23"
					     xmlns="http://www.w3.org/2000/svg">
						<rect fill="white" height="1.71695" transform="matrix(-0.718931 0.695081 0.718931 0.695081 4.9375 15.6533)"
						      width="6.8678" />
						<path clip-rule="evenodd"
						      d="M12.0967 18C7.53016 18 3.99668 14.3229 3.99668 10C3.99668 5.67715 7.53016 2 12.0967 2C16.6632 2 20.1967 5.67715 20.1967 10C20.1967 14.3229 16.6632 18 12.0967 18ZM12.0967 20C6.57383 20 2.09668 15.5228 2.09668 10C2.09668 4.47715 6.57383 0 12.0967 0C17.6195 0 22.0967 4.47715 22.0967 10C22.0967 15.5228 17.6195 20 12.0967 20Z"
						      fill="white"
						      fill-rule="evenodd" />
					</svg>
				</button>
			</form>
		</div>
	</div>
</header>
