.header {
	background-color: var(--background-head-foot);

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	&__nav {
		width: vw(896);
		margin-right: vw(100);
	}

	&__enter-btn {
		padding: 0;
		border: none;
		background-color: transparent;
		color: var(--font-alt);
		font-size: 18px;
		line-height: 25px;

		svg {
			margin-right: 5px;

			path {
				transition: fill .2s;
			}
		}

		@media (pointer: fine) {
			&:hover {
				color: var(--hover-alt);

				svg path {
					fill: var(--hover-alt)
				}
			}
		}

		&:active {
			color: var(--font-link);

			svg path {
				fill: var(--font-link);
			}
		}
	}

	&__bottom-bar {
		position: absolute;
		width: 100%;
		background-color: rgba(0, 0, 0, .4);
	}
}

.head-nav {
	&__list {
		display: flex;
		justify-content: space-between;
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
	}

	&__link {
		color: var(--font-alt);
		@media (pointer: fine) {
			&:hover {
				color: var(--hover-alt);
			}
		}

		&:active {
			color: var(--focus_click);
		}
	}
}

.head-nav__link,
.header__enter-btn {
	outline: 2px solid transparent;
	outline-offset: var(--offset);
	transition-duration: .3s;
	transition-property: color, outline-color;

	&:focus-visible {
		outline-color: var(--focus_click);
	}
}

.head-bar {
	padding-top: 20px;
	padding-bottom: 18px;

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__menu {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: vw(1036);
	}

	&__open-btn {
		position: relative;
		z-index: 1;
		padding: 0;
		border: none;
		background-color: transparent;
		color: var(--font-alt);
		outline: 2px solid transparent;
		outline-offset: var(--offset);
		font-size: 18px;
		line-height: 25px;
		transition-duration: .3s;
		transition-property: color, outline-color;

		&:focus-visible {
			outline-color: var(--focus_click);
		}
	}

	&__item {
		position: relative;

		svg * {
			transition: stroke .3s;
		}

		&::after {
			content: "";
			position: absolute;
			top: .1em;
			left: 0;
			width: 100%;
			height: 3em;
		}

		@media (pointer: fine) {
			&:hover {
				.head-bar__open-btn {
					color: var(--font-link);
				}

				.head-bar__scrollbar-wrapper {
					display: block;
					animation: fade-in .3s both;
				}

				svg path {
					stroke: var(--font-link);
				}
			}
			&:not(:hover) .did-fade-in {
				display: block;
				animation: fade-out .3s;
			}
		}
	}

	&__item &__open-btn:active {
		color: var(--focus_click);

		svg path {
			stroke: var(--focus_click);
		}
	}

	&__search {
		display: flex;
		align-items: baseline;
		outline: 2px solid transparent;
		outline-offset: var(--offset);
		transition: outline-color .3s;

		* {
			transition-duration: .3s;
			transition-property: border-color, fill;
		}

		&:focus-within {
			outline-color: var(--focus_click);
		}

		@media (pointer: fine) {
			&:hover {
				.head-bar__input {
					border-color: var(--hover-alt);
				}

				* {
					path,
					rect {
						fill: var(--hover-alt);
					}
				}
			}
		}
	}

	&__search-btn {
		position: relative;
		top: 6px;
		margin-right: 4px;
		border: none;
		background-color: transparent;
	}

	&__input {
		order: 1;
		width: 218px;
		padding: 0 0 3px;
		border: none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.85);
		background-color: transparent;
		color: var(--font-alt);

		&::placeholder {
			color: var(--font-alt);
			font-size: 18px;
			line-height: 25px;
			opacity: .85;
		}

		&:focus-visible::placeholder {
			opacity: 0;
		}
	}

	&__scrollbar-wrapper {
		position: absolute;
		top: 50px;
		display: none;
		width: 300px;
		height: 300px;
		padding: 40px;
		background-color: rgba(0, 0, 0, .6);
		opacity: 0;
	}

	&__artist-list {
		width: 100%;
		max-height: 100%;
		@media (pointer: fine) {
			&:hover .simplebar-scrollbar {
				background-color: var(--background-control);
			}
		}
	}

	&__menu &__item &__scrollbar-wrapper--visible {
		display: block;
		animation: fade-in .3s both;
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes fade-out {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}

	&__artist-item {
		position: relative;
		padding: 9px 15px 12px;
		background: var(--background-safe) center/cover no-repeat;
		outline: 2px solid transparent;
		outline-offset: -2px;
		line-height: 0;
		transition: outline-color .2s;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		@media (pointer: fine) {
			&:hover {
				outline-color: var(--background-control);
			}
		}

		&:active {
			outline-color: var(--hover-main);

			.head-bar__artist::after {
				background-color: var(--hover-alt);
			}
		}
	}

	&__artist {
		color: var(--font-alt);
		outline: 2px solid transparent;
		outline-offset: var(--offset);
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: transparent;
			opacity: .4;
		}

		&:focus-visible {
			outline-color: var(--focus_click);
		}
	}
}

.simplebar {
	.simplebar-track {
		right: -19px;
		width: 2px;
		background-color: var(--background-head-foot);
	}

	&-scrollbar {
		background-color: var(--font-alt);
		transition: background-color .2s;
	}
}

.tintoretto {
	background-image: url("../img/header-tintoretto.jpg");
}

.friedrich {
	background-image: url("../img/header-friedrich.jpg");
}

.leonardo {
	background-image: url("../img/header-leonardo.jpg");
}

.verocchio {
	background-image: url("../img/header-verocchio.jpg");
}

.manet {
	background-image: url("../img/header-manet.jpg");
}

.monet {
	background-image: url("../img/header-monet.jpg");
}

.renoir {
	background-image: url("../img/header-renoir.jpg");
}

.sisley {
	background-image: url("../img/header-sisley.jpg");
}

.van-gogh {
	background-image: url("../img/header-van-gogh.jpg");
}

.cezanne {
	background-image: url("../img/header-cezanne.jpg");
}

.gauguin {
	background-image: url("../img/header-gauguin.jpg");
}

.seurat {
	background-image: url("../img/header-seurat.jpg");
}

.kandinsky {
	background-image: url("../img/header-kandinsky.jpg");
}

.marinetti {
	background-image: url("../img/header-marinetti.jpg");
}

.malevich {
	background-image: url("../img/header-malevich.jpg");
}

.picasso {
	background-image: url("../img/header-picasso.jpg");
}

.carra {
	background-image: url("../img/header-carra.jpg");
}

.pratella {
	background-image: url("../img/header-pratella.jpg");
}

.severini {
	background-image: url("../img/header-severini.jpg");
}

.balla {
	background-image: url("../img/header-balla.jpg");
}
