<section class="gallery" id="gallery">
	<div class="gallery__container page-container">
		<h2 class="gallery__title section-title">Галерея</h2>
		<label class="gallery__label">Фильтровать по:
			<select class="gallery__filter" id="gallery-filter">
				<option class="gallery__option" selected value="author">Автор</option>
				<option class="gallery__option" value="type">Направление</option>
				<option class="gallery__option" value="technique">Техника</option>
			</select>
		</label>
		<div class="gallery__swiper swiper-container">
			<div class="swiper-wrapper">
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_1.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_2.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_3.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_4.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_5.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_6.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_7.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_8.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_9.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_10.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_11.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_12.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_13.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_14.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_15.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_16.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_17.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_18.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_19.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_20.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_21.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_22.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_23.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_24.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_25.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_26.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_27.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_28.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_29.jpg"></div>
				<div class="gallery__slide swiper-slide"><img alt="" src="img/gallery-slide_30.jpg"></div>
			</div>
			<div class="gallery__controls swiper-controls">
				<div class="gallery__btn-prev swiper-button-prev">
					<svg fill="none" height="12" viewBox="0 0 11 12" width="11" xmlns="http://www.w3.org/2000/svg">
						<path d="M6 11L0.999995 6L6 0.999998" stroke="white" />
					</svg>
				</div>
				<div class="gallery__pagination swiper-pagination"></div>
				<div class="gallery__btn-next swiper-button-next">
					<svg fill="none" height="12" viewBox="0 0 11 12" width="11" xmlns="http://www.w3.org/2000/svg">
						<path d="M5 11L10 6L5 0.999998" stroke="white" />
					</svg>

				</div>
			</div>
		</div>
		<p class="gallery__descr">
			Вам предоставляется 10 бесплатных скачиваний. Для увеличения количества скачиваний <a
						class="gallery__auth-link" href="">авторизуйтесь,</a> либо воспользуйтесь лицензией.
		</p>
	</div>
</section>
