.editions {
	padding-top: 80px;
	padding-bottom: 80px;
	background: url("/img/editions-back.jpg") no-repeat;
	background-size: cover;
	color: var(--font-alt);

	&__container {
		position: relative;
		display: grid;
		grid-template: repeat(3, auto)/341px 1fr 341px;
		column-gap: vw(109);
	}

	&__title {
		margin-bottom: 16px;
	}

	&__categories {
		grid-row: 2/3;
	}

	&__prices {
		grid-row: 3/4
	}

	&__swiper {
		grid-row: 2/-1;
		grid-column: 2/-1;
		margin: 0;
		padding-top: 13px;
	}

	&__controls {
		position: relative;
		top: 7px;
		display: flex;
		align-items: center;
		justify-self: start;
	}

	&__controls > * {
		position: static;
		margin: 0;
	}

	&__btn-next,
	&__btn-prev {
		width: unset;
		height: unset;
		padding: 8px;
		border: 2px solid transparent;
		border-radius: 50%;
		background-color: var(--background-slider);
		transition: border-color .2s, background-color .2s;
	}

	&__btn-next:focus,
	&__btn-prev:focus {
		border-color: var(--focus_click);
	}

	&__btn-next:hover,
	&__btn-prev:hover {
		background-color: var(--background-control);
	}

	&__btn-next:active,
	&__btn-prev:active {
		border-color: var(--hover-main);
		background-color: var(--focus_click);
	}

	&__btn-next svg,
	&__btn-prev svg {
		width: 10px;
		height: 10px;
	}

	&__btn-next::after,
	&__btn-prev::after {
		content: "";
	}

	&__pagination {
		margin: 0 18px;
	}
}

.categories {
	display: flex;
	flex-direction: column;
	margin-bottom: 28px;

	&__title {
		font-weight: 700;
	}

	&__label {
		position: relative;
		padding-left: 24px;
		cursor: pointer;

		&:focus-visible {
			color: #00a5bb;
		}
	}

	&__input {
		+ span {
			position: absolute;
			top: 50%;
			left: 0;
			width: 12px;
			height: 12px;
			border: 1px solid var(--font-alt);
			transition: border-color .3s;
			transform: translateY(-50%);

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: var(--font-link-alt);
				opacity: 0;
				transition: opacity .3s;
				transform: translate(-50%, -50%);
			}

			+ span {
				outline: 2px solid transparent;
				outline-offset: 2px;
				transition-duration: .3s;
				transition-property: color, outline-color;
			}
		}

		&:checked {
			color: var(--font-link-alt);

			+ span {
				border-color: var(--font-link-alt);

				&::before {
					opacity: 1;
				}

				+ span {
					color: var(--font-link-alt);
				}
			}
		}

		&:focus-visible + span + span {
			outline-color: var(--focus_click);
		}

		&:hover {
			+ span {
				border-color: var(--hover-alt);

				&::before {
					opacity: 1;
				}

				+ span {
					color: var(--hover-alt);
				}
			}
		}

		&:active {
			+ span {
				border-color: var(--focus_click);

				&::before {
					opacity: 0;
				}

				+ span {
					color: var(--focus_click);
				}
			}
		}
	}
}

.prices {
	&__title {
		margin-bottom: 9px;
		font-weight: 700;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		padding: 0 4px;
		border: 1px solid #898989;
		border-radius: 6px;

		span {
			padding: 0 12px;
		}
	}

	&__label {
		display: flex;
		align-items: center;
	}

	&__input {
		max-width: 82px;
		padding: 10px;
		border: none;
		background: rgba(157, 92, 208, 0.5);
		color: var(--font-alt);
		font-size: 16px;

		&::-webkit-inner-spin-button {
			display: none;
		}

		&::placeholder {
			color: var(--font-alt);
			font-size: 16px;
		}

		&:focus::placeholder {
			opacity: 0;
		}
	}
}

.edition {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__pic {
		margin-bottom: 28px;
	}

	&__wrapper {
		width: 70%;
		margin-bottom: 15px;
		line-height: normal;
	}

	&__title {
		font-size: 16px;
	}

	&__price {
		font-style: italic;
		line-height: normal;

		&::after {
			content: "руб";
			padding-left: 5px;
		}
	}

	&__btn-order {
		padding: 6px 20px;
		border: 2px solid var(--background-control);
		border-radius: 100px;
		background: transparent;
		color: var(--font-alt);
		outline: 2px solid transparent;
		outline-offset: -11px;
		font-weight: 700;
		font-size: 16px;
		font-family: inherit;
		transition-duration: .3s;
		transition-property: color, outline-color, background-color, border-color;

		&:focus-visible {
			outline-color: var(--focus_click);
		}

		&:hover {
			background-color: var(--background-control);
		}

		&:active {
			border-color: var(--hover-main);
			background-color: var(--focus_click);
		}
	}
}
