<footer class="footer">
	<div class="footer__container page-container">
		<a class="footer__logo" href="" Í><img alt="" class="logo" src="/img/sprite.svg#logo-main"></a>
		<ul class="footer__networks-list">
			<li class="footer__networks-item"><a class="vk-icon" href=""><img alt="" src="/img/sprite.svg#vk"></a></li>
			<li class="footer__networks-item"><a class="insta-icon" href=""><img alt="" src="/img/sprite.svg#instagram"></a></li>
			<li class="footer__networks-item"><a class="fb-icon" href=""><img alt="" src="/img/sprite.svg#fb"></a></li>
		</ul>
	</div>
</footer>
