<footer class="footer">
	<div class="footer__container page-container">
		<a aria-label="Перейти к началу сайта" class="footer__logo" href=""><img alt="Логотип Бланчад" class="logo" src="/img/sprite.svg#logo-main"></a>
		<ul class="footer__networks-list" title="Социальные сети">
			<li class="footer__networks-item"><a aria-label="Вконтакте" class="vk-icon" href=""><img alt="Вконтакте" src="/img/sprite.svg#vk"></a></li>
			<li class="footer__networks-item"><a aria-label="Интсаграм" class="insta-icon" href=""><img alt="Инстаграм" src="/img/sprite.svg#instagram"></a>
			</li>
			<li class="footer__networks-item"><a aria-label="Фэйсбук" class="fb-icon" href=""><img alt="Фэйсбук" src="/img/sprite.svg#fb"></a></li>
		</ul>
	</div>
</footer>
