body {
	background-color: var(--color-white);
	color: var(--font-main);
	font-size: 16px;
	font-family: "OpenSans", sans-serif;
	line-height: 32px;
}

.page-container {
	max-width: 1660px;
	margin: 0 auto;
	padding: 0 30px;
	@media (max-width: 1024px) {
		padding: 0 50px;
	}
	@media (max-width: 576px) {
		padding: 0 15px;
	}
}

.section-title {
	font-weight: 400;
	font-size: 48px;
	line-height: 65px;
	@media (max-width: 576px) {
		font-weight: 400;
		font-size: 28px;
		line-height: 38px;
	}
}

.section-subtitle {
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
}

.btn {
	border-radius: 100px;
	outline: transparent solid 2px;
	outline-offset: var(--offset);
	font-weight: 700;
	transition-duration: .3s;

	&:focus-visible {
		outline-color: var(--focus_click);
	}

	@media (pointer: fine) {
		&:hover {
			background-color: var(--background-control);
		}
	}

	&:active {
		border-color: var(--hover-main);
		background-color: var(--focus_click);
	}
}

.splide__arrow {
	position: static;
	opacity: 1;
	transition-duration: .3s;
	transition-property: box-shadow, background-color, opacity;
	transform: none;

	svg {
		display: none;
	}

	&::after {
		content: "";
		width: 7px;
		height: 7px;
		border-top: 1px solid;
		border-left: 1px solid;
	}

	&--prev::after {
		transform: translateX(20%) rotate(-45deg);
	}

	&--next::after {
		transform: translateX(-20%) rotate(135deg);
	}

	&:focus-visible {
		box-shadow: 0 0 0 3px var(--focus_click);
	}

	@media (pointer: fine) {
		&:hover, {
			background-color: var(--background-control);
		}
	}

	&:active {
		border-color: var(--hover-main);
		background-color: var(--focus_click);
	}

	&:disabled {
		opacity: .35;
		pointer-events: none;
	}
}

.disable-scroll {
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100vh;
}

.visually-hidden {
	@include visually-hidden;
}



