body {
	background-color: var(--color-white);
	color: var(--font-main);
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	line-height: 32px;
}

.page-container {
	max-width: 1660px;
	margin: 0 auto;
	padding: 0 30px;
	@media (max-width: 1024px) {
		padding: 0 50px;
	}
	@media (max-width: 576px) {
		padding: 0 15px;
	}
}

.section-title {
	font-weight: 400;
	font-size: 48px;
	line-height: 65px;
	@media (max-width: 576px) {
		font-weight: 400;
		font-size: 28px;
		line-height: 38px;
	}
}

.section-subtitle {
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
}


.btn {
	border-radius: 100px;
	outline: transparent solid 2px;
	outline-offset: var(--offset);
	font-weight: 700;
	transition-duration: .3s;

	&:focus-visible {
		outline-color: var(--focus_click);
	}

	@media (pointer: fine) {
		&:hover {
			background-color: var(--background-control);
		}
	}

	&:active {
		border-color: var(--hover-main);
		background-color: var(--focus_click);
	}
}

.swiper-controls {
	position: absolute;
	display: flex;
	align-items: center;

	> * {
		position: static;
		margin: 0;
	}
}

.swiper-button-prev,
.swiper-button-next {
	width: unset;
	height: unset;
	margin-top: 0;
	padding: 8px;
	border: 2px solid transparent;
	border-radius: 50%;
	background-color: var(--background-slider);
	transition-duration: .3s;
	transition-property: border-color, background-color;

	svg {
		width: 10px;
		height: 10px;
	}

	&::after {
		display: none;
	}

	&:focus-visible {
		box-shadow: 0 0 0 3px var(--focus_click);
	}

	@media (pointer: fine) {
		&:hover {
			background-color: var(--background-control);
		}
	}

	&:active {
		border-color: var(--hover-main);
		background-color: var(--focus_click);
	}
}

.swiper-pagination {
	margin: 0 18px;
}

.visually-hidden {
	@include visually-hidden;
}



