html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h2,
h3 {
	margin: 0;
}

body {
	margin: 0;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

a:focus {
	outline: 2px solid var(--focus_click);
	outline-offset: 5px;
}

button {
	outline: none;
	cursor: pointer;
	transition: border-color .2s
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

input {
	outline: none;
}

.visually-hidden {
	@include visually-hidden;
}
