:root {
	--background-main: #fff;
	--background-tip: #cacaca;
	--background-accord: #ececec;
	--background-slider: #666;
	--background-control: #9d5cd0;
	--background-control70: rgba(157, 92, 208, 0.7);
	--background-head-foot: #000;
	--background-safe: #d88f99;
	--font-main: #333;
	--font-alt: #fff;
	--font-light: #999;
	--font-link: #9d5cd0;
	--font-link-alt: #c283f3;
	--focus_click: #7943a4;
	--hover-main: #d1a9f0;
	--hover-alt: #c283f3;
}
