<section class="contacts">
	<h2 class="contacts__title section-title page-container">Контакты</h2>
	<div class="contacts__connect">
		<h3 class="contacts__showroom-name">Шоурум №4</h3>
		<address class="contacts__address">Леонтьевский переулок, дом 5, строение 1</address>
		<h3 class="contacts__callback-title contacts-subtitle">Заказать обратный звонок</h3>
		<form action="#" class="contacts__callback callback-form">
			<input autocomplete="name" class="callback-form__input" name="" placeholder="Имя*" type="text">
			<input autocomplete="tel" class="callback-form__input" name="" placeholder="Телефон*" type="tel">
			<button class="callback-form__btn-submit" type="submit">Заказать</button>
		</form>
		<h3 class="contacts__messengers-title contacts-subtitle">Связаться в один клик</h3>
		<a class="contacts__messenger" href="" style="background-image: url('/img/sprite.svg#whatsapp');"></a>
		<a class="contacts__messenger" href="" style="background-image: url('/img/sprite.svg#telegram');"></a>
	</div>
	<div class="contacts__map" id="map"></div>
</section>
